<div x-data="htmx_messages"
     id="toast_messages_container"
     hx-swap-oob="afterbegin"
     class="position-fixed top-0 end-0 z-2 p-3">
    {% for message in messages %}
        <div x-data
             x-init="register($el);"
             class="toast align-items-center border-0 {{ message.tags }} mb-3"
             role="alert"
             aria-live="assertive"
             aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">{{ message.message }}</div>
                <button type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
</div>
